{% load staticfiles %}
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}{% endblock %}</title>

<link rel="stylesheet" href="{% static "app/content/css/bootstrap.min.css" %}">
<link rel="stylesheet" href="{% static "app/content/calendar.css" %}">
<link rel="stylesheet" href="{% static "app/content/bs_leftnavi.css" %}">
<link rel="stylesheet" href="{% static "app/content/jquery-ui.css" %}" >
<link rel="stylesheet" href="{% static "app/content/calendar.css" %}">
<link rel="stylesheet" href="{% static "app/content/datepicker.css" %}">
<link rel="stylesheet" href="{% static "app/content/bootstrap.css" %}"  media="screen">
<link rel="stylesheet" href="{% static "app/content/style.css" %}" media="screen">
<link rel="stylesheet" href="{% static "app/content/styles.css" %}" media="screen">
<link rel="shortcut icon" type="image/png" href="{% static "app/image/FlagIcon22.ico" %}" />

<script src="{% static "app/scripts/jQuery.js" %}"></script>
<script src="{% static "app/scripts/bootstrap.min.js" %}"></script>
<script src="{% static "app/scripts/bs_leftnavi.js" %}"></script>
<script src="{% static "app/scripts/jquery-ui.js" %}"></script>
<script src="{% static "app/scripts/function.js" %}"></script>
<script src="{% static "app/scripts/datepicker.js" %}"></script>
<script src="{% static "app/scripts/bootpag.js" %}"></script>
<script src="{% static "app/scripts/bootstrap-select.js" %}"></script>
<script src="{% static "app/scripts/DataTables.min.js" %}"></script>
<script src="{% static "app/scripts/dataTables.bootstrap.js" %}"></script>
<script src="{% static "app/scripts/readmore.js" %}"></script>
<script src="{% static "app/scripts/script.js" %}"></script>
<script src="{% static "app/scripts/js.cookie.js" %}"></script>
<script src="{% static "app/scripts/priencheTramite.js" %}"></script>
