{% extends "app/index.html" %}
{% load staticfiles %}
{% block title %}SGPLP - Comissões{% endblock %}
{% block contentSuper %}
<div class="col-lg-10">
    <div class="row" id="menu_members">
        <ul>
            <li id="membros"><img src='{% static "app/image/img_trans.gif" %}' class="membrosIcon" />&nbsp;<span id="IconDesc">COMISSÃO</span></li>
        </ul>
    </div>
    <ul class="nav nav-tabs nav-justified">
        <li class="active tabText"><a href="#tabs-1" data-toggle="tab">Comissão</a></li>
        <li><a href="#tabs-2" data-toggle="tab" id="tabcontent">Membros</a></li>
        <li><a href="#tabs-3" data-toggle="tab">Iniciativa</a></li>
    </ul>
    <div class="tab-content">
        <div id="tabs-1" class="tab-pane fade in active tab-1">
        </div>
        <div id="tabs-2" class="tab-pane fade tab-2">
            <div class="col-md-12">
                <div class="commentlist" id="holder"></div>
                <div class="clearfix"></div>
                <!--pagination -->
                <p class="memberPagination"></p>
            </div>
        </div>
        <div id="tabs-3" class="tab-pane fade tab-3">
            <ul class="contentMembers"></ul>
        </div>
    </div>

</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
<script>
    var xml_feed = '';

    $(function () {
        var committeeInfo = '{{ Committee |escapejs }}';
        var xml = '{{ CommittesMembers |escapejs }}';
        var idComicao = '{{ idComicao }}' + 'Com';
        alterafocusmenu('comissao', idComicao, ''); //registado em function.js

        var CommitteBody = $('#tabs-1');
        var CommitteMembers = $('.commentlist');
        var CommitteDocument = $('#tabs-3');

        CommitteBody.empty();
        CommitteMembers.empty();
        CommitteDocument.empty();
        var info = $($($(committeeInfo).find('item')[0]).find('group_full_name')).text();

        if (info != "")
            $("#IconDesc").text( info);
        info = $($($(committeeInfo).find('item')[0]).find('group_body')).text();
        if (info == "")
            info = '[Sem informação disponível para esta secção.]';

        CommitteBody.append('<p style="text-align:justify;">' + info + '</p>');
        showmembres(xml, "Deputado");
    });

    var elementsPerPage = 9;
    //inicializa paginação da listagem dos deputados
    var totalPages = Math.ceil(parseInt('{{ TotalCountMember|escapejs }}') / elementsPerPage);
    if (totalPages == 1)
        $('.memberPagination').addClass('hide');
    else $('.memberPagination').removeClass('hide');
    $(function () {
        $('.memberPagination').bootpag({
            total: totalPages,
            page: 1,
            maxVisible: 10,
            leaps: true,
            firstLastUse: true,
            first: '←',
            last: '→',
            wrapClass: 'pagination',
            activeClass: 'active',
            disabledClass: 'disabled',
            nextClass: 'next',
            prevClass: 'prev',
            lastClass: 'last',
            firstClass: 'first'
        }).on("page", function (event, num) {
            //verifica se a paginação é diferente de 1 para atribuir valores ao limite inferior
            Limitepag = 1;
            if (num != 1) {
                Limitepag = (num * elementsPerPage) - elementsPerPage - 1;
            }
            div_html = $('.commentlist');
            IdCommittes = $('#comissoes .active a').attr('href').split('/')[2];
            link = "/getcommitteemembers/" + Limitepag + "/" + elementsPerPage + "/" + IdCommittes;
            //get id of committes
            $.ajax({
                url: link,
                success: function (data) {
                    div_html.empty();
                    var xml_data = data;
                    /*Faz Listagem de membros*/
                    showmembres(xml_data, "Deputado");
                },
                error: function (data) {
                    alert("erro ao devolver valor");
                }
            });
        });
    });

</script>
{% endblock %}
